/**
 * @name         Dribs-Pink
 * @description  Cool theme made by @dribforealzzz on TikTok - Drib#0206 on Discord (PINK)
 * @donate       https://vm.tiktok.com/ZMdK5fFhG/
 * @invite       Nk6TvHWbAC
 * @author       Drib#0206
 * @version      2.2 
 */
 
 @import url(https://rmkx.github.io/LlunaPlena/src/llunaplena.css);

 @import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/No.css);

 @import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);

 :root {
     --main-color: #810062 ; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
	 --hover-color: #c21ebb ; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
	 --success-color: #00fc8a ; /* success accent color (hex, rgb or hsl) [default: #43b581] */
	 --danger-color: #a11616 ; /* danger accent color (hex, rgb or hsl) [default: #982929] */
     --online-color: #00ff15 ; /* online status color (hex, rgb or hsl) [default: #43b581] */
	 --idle-color: #242972 ; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	 --dnd-color: #880034 ; /* dnd status color (hex, rgb or hsl) [default: #982929] */
	 --streaming-color: #af07ac ; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	 --offline-color: #265050 ; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */
     --Unread-Message-1: #be0752 ;
     --Unread-Message-2: #be0752 ;
     --Chat-Font-Size: 15px ;
     --channel-color: #ff00ec ; /* Selected channel and background color | Default #293f47;*/
     --chat-color: #1b0218 ; /* Backgroung color for chat | Default #070707*/
     --chat-shadow-color: #551a4f ; /*Color for the chat box shadow | Default #293f47*/
     --button-color: #fd55ff ; /*Color for some of the buttons | Default #293f47*/
     --activity-color: #5c0f61 ; /*Color for the activity bar | Default #181717*/
     --background-primary: #1b0218 ; /* Primary theme color | Default #030303*/
     --background-secondary: #25021d ; /*Secondary theme color | Default #030303*/
     --background-tertiary: #000000 ; /*Tertiary theme color | Default #030303*/
     --Popout-Main-Colour: #ff00c3 ;
     --Popout-Background: var(--chat-shadow-color) ;
     --Popout-Text-Shadow-Colour: var(--chat-shadow-color) ;
 }
 
 .theme-dark, .theme-light {
     --Notification-Colour: rgb(0, 140, 255) ;
     --chat-scrollbar-width: 15px ; /*Changes the scrollbar width on chat | Default 20px*/
     --scrollbar-thumb: #5d0063 ; /*Changes the scrollbar base color | Default #293f47*/
     --background-floating: #140218 ; /*Right click on user floating background | Default #030303*/
     --background-modifier-hover: #551a4f ; /*Changes the hover on users color | Default #293f47*/
     --background-message-hover: #551a4f ; /*Changes the background of the hovered messages in chat | Default #293f4757*/
     --text-muted: #cc7dc4 ; /*Changes the color of the font of some parts of the Theme (search bar, etc) | Default #63a4a8*/
     --text-link: #b70ce2 ; /*Changes the color of the links | Default #8dfce9*/
     --channels-default: #fc6df2 ; /*Changes the color of the channel names | Default #afafaf*/
     --blue-hue-elements: #32163b ; /*Color code for some parts of the theme | Default #63a4a8*/
     --background-modifier-accent: #160215 ; /*Color for the lines separating some elements of some menus | Default #293f47*/
 }
 .children-rWhLdy div[style*="display: grid;"] > div {
     border: 4px solid var(--chat-shadow-color)!important;
     display: grid!important;
 }
 .content-1x5b-n {
    transition: all 0.15s ease-in-out;
  }
  
  .content-1x5b-n {
    position: relative;
    background: transparent !important;
  }
  .content-1x5b-n:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.15s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  .content-1x5b-n:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
    border-radius: 4px;
  }
  .content-1x5b-n .icon-1DeIlz {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    color: var(--channel-color);
    opacity: 1;
    transition: all 0.15s ease-in-out;
  }
  .content-1x5b-n .icon-1DeIlz > path {
    opacity: 0.7;
  }
  .content-1x5b-n .icon-1DeIlz > path:last-of-type {
    opacity: 1;
  }
  .content-1x5b-n .name-23GUGE {
    color: var(--channel-color);
    transition: all 0.15s ease-in-out;
  }
  .content-1x5b-n .subtitle-3V1p2E {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .children-Bmpf2Q {
    margin-left: 1px;
    -webkit-animation: cv-fade-to-3 0.15s ease-in-out;
            animation: cv-fade-to-3 0.15s ease-in-out;
  }
  
  .actionIcon-PgcMM2 {
    color: #fff;
    opacity: 0.3;
    transition: all 0.15s ease-in-out;
  }
  .actionIcon-PgcMM2:hover {
    opacity: 0.7;
  }
  
  .wrapper-2jXpOf:hover .content-1x5b-n:before {
    background: rgba(255, 255, 255, 0.1);
  }
  .containerDefault--pIXnN .wrapper-2jXpOf:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
  .containerDefault--pIXnN .wrapper-2jXpOf:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: rgba(255, 255, 255, 0.7);
  }
  .wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: var(--channel-unread);
    text-shadow: 0 0 3px;
  }
  .wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
    color: var(--channel-unread);
    filter: drop-shadow(0 0 3px);
    opacity: 1;
  }
  .wrapper-2jXpOf.modeUnread-1qO3K1:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: var(--channel-text-selected);
  }
  .wrapper-2jXpOf.modeUnread-1qO3K1:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
    color: var(--channel-text-selected);
  }
  .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n:before {
    background: rgba(255, 255, 255, 0.1);
  }
  .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n:after {
    right: 0;
    background: var(--main-color);
    -webkit-animation: cv-channel-select 0.3s ease-in-out;
            animation: cv-channel-select 0.3s ease-in-out;
  }
  .containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .icon-1DeIlz,
  .containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .name-23GUGE {
    color: var(--channel-text-selected);
  }
  .containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .iconLive-AtZKgD {
    color: var(--channel-text-selected) !important;
  }
  .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .actionIcon-PgcMM2 {
    opacity: 0.7;
  }
  .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .actionIcon-PgcMM2:hover {
    opacity: 1;
  }
  .wrapper-2jXpOf.modeConnected-3IsKId .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: var(--main-color);
    text-shadow: 0 0 3px;
  }
  .wrapper-2jXpOf.modeConnected-3IsKId .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
    color: var(--main-color);
    filter: drop-shadow(0 0 3px);
  }
  .wrapper-2jXpOf.modeMuted-onO3r- .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
  .wrapper-2jXpOf.modeMuted-onO3r- .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: var(--muted-color);
  }
  .wrapper-2jXpOf.modeMuted-onO3r-:hover .content-1x5b-n .mainContent-u_9PKf:before {
    background: rgba(255, 255, 255, 0.07);
  }
  .containerDefault--pIXnN .wrapper-2jXpOf.modeMuted-onO3r-:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
  .containerDefault--pIXnN .wrapper-2jXpOf.modeMuted-onO3r-:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: var(--channel-color);
  }
  
  .unread-2lAfLh {
    display: none;
  }
  
  [name=Gear].actionIcon-PgcMM2 {
    background: url(https://clearvision.gitlab.io/icons/settings.svg) no-repeat center/18px;
  }
  [name=Gear].actionIcon-PgcMM2:hover {
    -webkit-animation: cv-spin 2.5s linear infinite;
            animation: cv-spin 2.5s linear infinite;
  }
  [name=Gear].actionIcon-PgcMM2 > path {
    display: none;
  }
  [name=Invite].actionIcon-PgcMM2 {
    background: url(https://clearvision.gitlab.io/icons/person_add.svg) no-repeat center/18px;
  }
  [name=Invite].actionIcon-PgcMM2 > path {
    display: none;
  }
  
  .users-3kndPl,
  .total-i6us2n {
    width: 24px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    text-align: right;
    transition: all 0.15s ease-in-out;
  }
  
  .users-3kndPl {
    padding: 0 4px 0 6px;
    background: rgba(0, 0, 0, 0.15);
  }
  
  .total-i6us2n {
    padding: 0 6px 0 4px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: inset 1px 0 rgba(255, 255, 255, 0.07);
  }
  .total-i6us2n:after {
    display: none;
  }
  
  .modeConnected-3IsKId .users-3kndPl {
    color: var(--main-color);
    text-shadow: 0 0 1px;
  }
  
  .listDefault-3ir5aS {
    padding-left: 24px;
  }
  
  .voiceUser-1K6Xox {
    z-index: 1;
  }
  .voiceUser-1K6Xox .content-3xS9Lh {
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
  }
  .voiceUser-1K6Xox .avatarContainer-28iYmV {
    position: relative;
    transition: all 0.1s ease-in-out;
  }
  .voiceUser-1K6Xox .avatarContainer-28iYmV:after {
    content: "";
    position: absolute;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, var(--main-color) 10%, transparent);
    opacity: 0.5;
    transition: all 0.1s ease-in-out, width 0.15s ease-in-out;
    pointer-events: none;
    z-index: -1;
    border-radius: 999px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .voiceUser-1K6Xox .avatarSpeaking-2IGMRN {
    box-shadow: 0 0 0 2px var(--main-color), inset 0 0 3px rgba(0, 0, 0, 0.5);
  }
  .voiceUser-1K6Xox .avatarSpeaking-2IGMRN:after {
    top: -2px;
    bottom: -2px;
    width: 150px;
  }
  .voiceUser-1K6Xox .username-3KYl0N {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.1s ease-in-out;
  }
  .voiceUser-1K6Xox .usernameSpeaking-RmltQx {
    color: #fff !important;
  }
  
  .audienceVoiceUserIconContainer-29oflP {
    background-color: var(--main-color);
    color: #fff;
  }
  
  .icon-1tDorc {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    color: rgba(255, 255, 255, 0.3);
  }
  
  .moreUsers-7v8yWY {
    padding: 0 4px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .containerDragBefore-1YqewQ:before, .containerDragAfter-Zk9oyx:before, .containerDragBefore-1YqewQ:after, .containerDragAfter-Zk9oyx:after,
  .containerDragBefore-3iTCc7:before,
  .containerDragAfter-3Fp7LC:before,
  .containerDragBefore-3iTCc7:after,
  .containerDragAfter-3Fp7LC:after {
    background: var(--main-color);
    border-radius: 0;
  }
  
  .containerUserOver-2mv1jO:after {
    background: var(--main-color);
    border-color: transparent;
    opacity: 0.1;
  }
  .chat-3bRxxu .autocomplete-1vrmpx {
    background: transparent;
    overflow: hidden;
  }
  
  .autocomplete-1vrmpx .autocompleteInner-zh20B_ {
    background: rgba(0, 0, 0, 0.8);
    -webkit-animation: cv-menu-slide-bottom 0.2s ease-in-out;
            animation: cv-menu-slide-bottom 0.2s ease-in-out;
    transform-origin: 50% 100%;
  }
  .autocomplete-1vrmpx .contentTitle-2tG_sM {
    color: rgba(255, 255, 255, 0.5);
  }
  .autocomplete-1vrmpx .content-Qb0rXO {
    color: rgba(255, 255, 255, 0.6);
  }
  .autocomplete-1vrmpx .iconForeground-1w5n7R {
    fill: rgba(255, 255, 255, 0.3);
  }
  .autocomplete-1vrmpx .descriptionDiscriminator-3vUOCc {
    color: rgba(255, 255, 255, 0.15);
  }
  .autocomplete-1vrmpx .selected-1Tbx07 {
    background: var(--main-color) !important;
  }
  .autocomplete-1vrmpx .selected-1Tbx07 > .content-Qb0rXO {
    color: #fff;
  }
  .autocomplete-1vrmpx .selected-1Tbx07 .iconForeground-1w5n7R {
    fill: rgba(255, 255, 255, 0.7);
  }
  .autocomplete-1vrmpx .selected-1Tbx07 .autocompleteRowContentSecondary-1tgI-F,
  .autocomplete-1vrmpx .selected-1Tbx07 .descriptionDiscriminator-3vUOCc,
  .autocomplete-1vrmpx .selected-1Tbx07 .autocompleteRowSubheading-WqMMIl {
    color: #fff;
  }
  
  .wrapper-uf3cnO,
  .list-A0BHjR,
  .categoryHeader-O1zU94 {
    background-color: transparent;
  }
  
  .selected-3xBBKs {
    background-color: var(--main-color);
  }
  .selected-3xBBKs:hover {
    background-color: var(--main-color);
  }
  
  .theme-dark .option-1B5ZV8 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* PRIVATE CALL */
  .wrapper-2qzCYF {
    background: rgba(0, 0, 0, calc(var(--background-shading) * .6));
  }
  
  .wrapper-2qzCYF.minimum-28Z35l {
    background: rgba(0, 0, 0, calc(var(--background-shading) * .6));
  }
  
  .tile-2gi3tr {
    background-color: transparent;
  }
  
  .participantsButton-KYW-IW {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .participantsButton-KYW-IW:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .border-3dQmSY.speaking-WDn8Wm {
    box-shadow: inset 0 0 0 2px var(--main-color);
  }
  
  .button-38aScr.centerButton-3CaNcJ {
    border-radius: 50%;
  }
  
  .colorable-1bkp8v.primaryDark-3mSFDl {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
  }
  .colorable-1bkp8v.primaryDark-3mSFDl:hover {
    background-color: var(--hover-color);
    color: #fff;
  }
  .colorable-1bkp8v.white-3GPOIp {
    color: #fff;
  }
  .colorable-1bkp8v.white-3GPOIp:not(:hover) {
    background-color: var(--main-color) !important;
  }
  .colorable-1bkp8v.white-3GPOIp:hover {
    background-color: var(--hover-color);
  }
  .colorable-1bkp8v.white-3GPOIp .active-1QRrIS {
    background-color: transparent;
  }
  .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T,
  .colorable-1bkp8v.white-3GPOIp .slash-33-IMF {
    color: #fff;
  }
  .colorable-1bkp8v .red-33-Lnk {
    background-color: var(--danger-color);
  }
  
  /* CHAT WELCOME MESSAGE */
  .welcomeMessage-3_Mcht .h1-1IDj26 {
    color: var(--main-color);
  }
  .welcomeMessage-3_Mcht .itemContainer-WiE19S .icon-2shpbb {
    filter: grayscale(1);
    opacity: 0.3;
  }
  .welcomeMessage-3_Mcht .itemContainer-WiE19S p {
    color: rgba(255, 255, 255, 0.5);
  }
  .welcomeMessage-3_Mcht .itemContainer-WiE19S strong {
    color: rgba(255, 255, 255, 0.7);
  }
  .welcomeMessage-3_Mcht .itemContainer-WiE19S a {
    color: var(--main-color);
    transition: all 0.1s ease-in-out;
  }
  .welcomeMessage-3_Mcht .itemContainer-WiE19S a:hover {
    text-shadow: 0 0 1px;
    text-decoration: none !important;
  }
  .topic-TCb_qw .wrapper-3WhCwL,
.topic-TCb_qw .mention,
.markup-2BOw-j .wrapper-3WhCwL,
.markup-2BOw-j .mention {
  padding: 0 4px;
  border-radius: 5px;
  line-height: 22px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.topic-TCb_qw .wrapper-3WhCwL,
.markup-2BOw-j .wrapper-3WhCwL {
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.7);
}
.topic-TCb_qw .wrapper-3WhCwL:hover,
.markup-2BOw-j .wrapper-3WhCwL:hover {
  background-color: var(--main-color);
  color: #fff;
}
.topic-TCb_qw strong > .wrapper-3WhCwL,
.topic-TCb_qw strong > .mention,
.markup-2BOw-j strong > .wrapper-3WhCwL,
.markup-2BOw-j strong > .mention {
  font-weight: 600;
}

.wrapper-3WhCwL.iconMention-1_KJ_B {
  padding-left: 1.2rem;
}

.mentioned-xhSam7 {
  background-color: rgba(255, 255, 255, 0.05);
}
.mentioned-xhSam7.message-2qnXI6.selected-2P5D_Z {
  background-color: rgba(255, 255, 255, 0.08);
}
.mouse-mode.full-motion .mentioned-xhSam7:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.mentioned-xhSam7::before {
  background-color: var(--main-color);
}
.theme-dark .mentioned-xhSam7 .wrapper-3WhCwL.interactive {
  color: var(--main-color);
}
.theme-dark .mentioned-xhSam7 .wrapper-3WhCwL.interactive:hover {
  color: #fff;
  text-decoration: none;
}

.wrapper-3WhCwL {
  color: var(--main-color);
}
.wrapper-3WhCwL:hover {
  background-color: var(--main-color);
}

/* MESSAGE SPOILER */
.contents-2mQqc9 .spoilerText-3p6IlD {
  background: rgba(255, 255, 255, 0.04);
  transition: all 0.15s ease-in-out;
}
.contents-2mQqc9 .spoilerText-3p6IlD > .inlineContent-3ZjPuv {
  opacity: 1;
  transition: inherit;
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9 {
  background: rgba(0, 0, 0, 0.8);
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover {
  background: rgba(0, 0, 0, 0.6);
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9 > .inlineContent-3ZjPuv {
  opacity: 0;
}

.markup-2BOw-j .spoilerText-3p6IlD {
  padding: 1px 4px;
}

.spoilerContainer-331r0R > .spoilerWarning-2aAZq1 {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.15s ease-in-out;
}
.spoilerContainer-331r0R .spoiler-1PPAUc,
.spoilerContainer-331r0R .spoilerEmbed-1fzvzg > .embedInner-1-fpTo {
  transition: all 0.15s ease-in-out;
}
.spoilerContainer-331r0R .hiddenSpoilers-1ksnR6,
.spoilerContainer-331r0R .hiddenSpoiler-3i0zpa > .embedInner-1-fpTo {
  filter: blur(40px);
}
.spoilerContainer-331r0R .hiddenSpoiler-3i0zpa {
  border-radius: 0;
}
.spoilerContainer-331r0R:hover > .spoilerWarning-2aAZq1 {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.spoilerContainer-331r0R:hover .hiddenSpoilers-1ksnR6 {
  filter: blur(30px);
}
.spoilerContainer-331r0R:hover .hiddenSpoiler-3i0zpa > .embedInner-1-fpTo {
  filter: blur(30px);
}
.contents-2mQqc9 > img ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: none;
    color: currentcolor;
    text-shadow: 0 0 2px currentcolor;
    border: 1px solid;
    border-radius: 6px;
    margin-left: 8px;
    background-color: rgba(255, 255, 255, 0.07);
    font-size: 10px;
    padding: 0 5px;
  }
  .contents-2mQqc9 > img[src*="194151269399527425"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Admin";
  }
  .contents-2mQqc9 > img[src*="144881947557101568"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Admin";
  }
  .contents-2mQqc9 > img[src*="332394843743584256"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Team";
  }
  .contents-2mQqc9 > img[src*="240437190339854337"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Team";
  }
  .contents-2mQqc9 > img[src*="126652966265421824"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Team";
  }
  .contents-2mQqc9 > img[src*="335677038830682112"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Contributor";
  }
  .contents-2mQqc9 > img[src*="195270435015884800"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Contributor";
  }
  .contents-2mQqc9 > img[src*="236579127090610176"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Contributor";
  }
  .contents-2mQqc9 > img[src*="97797564866236416"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Contributor";
  }
  .contents-2mQqc9 > img[src*="150750980097441792"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Contributor";
  }
  .contents-2mQqc9 > img[src*="213067580531933196"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Contributor";
  }
  .contents-2mQqc9 > img[src*="393900343135830016"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Contributor";
  }
  .contents-2mQqc9 > img[src*="262989909411758080"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="168551219135119361"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="241500427105992704"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="151995147150819328"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="157699533134888961"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="157492606752784384"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="174525242939670528"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="78890013378486272"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="213263668312408066"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="152431535914614785"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="112619227466182656"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="297873043265552384"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="258031697646321666"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="109933711142719488"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="251260900252712962"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="199184208319610880"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="122731339890950145"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="436228721033216009"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="66214870705516544"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="172426681800196096"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="158311402677731328"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="284122164582416385"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="107965218868457472"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="183795147236966412"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="245133485688225793"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Donator";
  }
  .contents-2mQqc9 > img[src*="538745942493495298"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Translator";
  }
  .contents-2mQqc9 > img[src*="265627010733178892"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "CV Guide Maker";
  }
  .contents-2mQqc9 > img[src*="309976820109803520"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "Former CV Team";
  }
  .contents-2mQqc9 > img[src*="148359099782791168"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "Team Hydra";
  }
  .contents-2mQqc9 > img[src*="206212600596398080"] ~ .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after {
    content: "Team Hydra";
  }
  .button-38aScr {
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY,
  .appMount-3lHmkl .lookFilled-1Gx00P.colorGrey-2DXtkV,
  .appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91,
  .appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background: var(--main-color);
  }
  .appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY:hover,
  .appMount-3lHmkl .lookFilled-1Gx00P.colorGrey-2DXtkV:hover,
  .appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91:hover,
  .appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background: var(--hover-color);
  }
  .appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY:disabled,
  .appMount-3lHmkl .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled,
  .appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91:disabled,
  .appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled {
    background: var(--main-color) !important;
  }
  
  .lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: var(--danger-color);
  }
  
  .lookFilled-1Gx00P.colorWhite-rEQuAQ {
    background: rgba(255, 255, 255, 0.1);
  }
  .lookFilled-1Gx00P.colorWhite-rEQuAQ > .contents-18-Yxp {
    color: rgba(255, 255, 255, 0.7);
    transition: inherit;
  }
  .lookFilled-1Gx00P.colorWhite-rEQuAQ:hover {
    background: rgba(255, 255, 255, 0.2) !important;
  }
  .lookFilled-1Gx00P.colorWhite-rEQuAQ:hover > .contents-18-Yxp {
    color: #fff;
  }
  .lookFilled-1Gx00P.colorWhite-rEQuAQ:disabled {
    background: rgba(255, 255, 255, 0.1) !important;
  }
  .lookFilled-1Gx00P.colorWhite-rEQuAQ:disabled > .contents-18-Yxp {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .lookInverted-2D7oAl.colorBrand-3pXr91,
  .lookInverted-2D7oAl.colorGreen-29iAKY {
    background: #fff;
    color: var(--main-color);
  }
  .lookInverted-2D7oAl.colorBrand-3pXr91:hover,
  .lookInverted-2D7oAl.colorGreen-29iAKY:hover {
    background: rgba(255, 255, 255, 0.95);
    color: var(--hover-color);
  }
  .lookInverted-2D7oAl.colorBrand-3pXr91:disabled,
  .lookInverted-2D7oAl.colorGreen-29iAKY:disabled {
    background: rgba(255, 255, 255, 0.3);
  }
  
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorWhite-rEQuAQ,
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorGreen-29iAKY,
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorBrand-3pXr91 {
    background: transparent;
    border-color: var(--main-color);
    color: rgba(255, 255, 255, 0.8);
  }
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover,
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover,
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorGreen-29iAKY:hover,
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
    background: transparent;
    border-color: var(--hover-color);
    color: #fff;
  }
  
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorRed-1TFJan {
    background: transparent;
    border-color: var(--danger-color);
    color: rgba(255, 255, 255, 0.8);
  }
  .appMount-3lHmkl .lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    background: transparent;
    border-color: var(--hover-color);
    color: #fff;
  }
  
  .lookLink-9FtZy-.colorWhite-rEQuAQ {
    color: #fff;
  }
  .lookLink-9FtZy-.colorWhite-rEQuAQ:hover {
    text-shadow: 0 0 3px;
  }
  .lookLink-9FtZy-.colorWhite-rEQuAQ:hover > .contents-18-Yxp {
    background-image: none;
  }
  
  .button-1-5Aqk {
    background-color: var(--main-color);
    color: #fff;
  }
  .button-1-5Aqk:hover:not(.disabled-3Njyym) {
    background-color: var(--hover-color);
  }
  .unread-1xRYoj,
.mention-1f5kbO {
  position: relative;
  background: transparent;
}
.unread-1xRYoj:after,
.mention-1f5kbO:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--main-color);
  border-radius: 3px;
  opacity: 0.9;
  z-index: -1;
  transition: all 0.15s ease-in-out;
}
.unread-1xRYoj:hover:after,
.mention-1f5kbO:hover:after {
  opacity: 1;
 }
 .channelNotices-41mJbj .channelNotice-1-XFjC:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    background-position: inherit;
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 0.3;
    filter: grayscale(1) brightness(1.5);
    pointer-events: none;
 }
 .topic-TCb_qw .wrapper-3WhCwL,
.topic-TCb_qw .mention,
.markup-2BOw-j .wrapper-3WhCwL,
.markup-2BOw-j .mention {
  padding: 0 4px;
  border-radius: 5px;
  line-height: 22px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.topic-TCb_qw .wrapper-3WhCwL,
.markup-2BOw-j .wrapper-3WhCwL {
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.7);
}
.topic-TCb_qw .wrapper-3WhCwL:hover,
.markup-2BOw-j .wrapper-3WhCwL:hover {
  background-color: var(--main-color);
  color: #fff;
}
.topic-TCb_qw strong > .wrapper-3WhCwL,
.topic-TCb_qw strong > .mention,
.markup-2BOw-j strong > .wrapper-3WhCwL,
.markup-2BOw-j strong > .mention {
  font-weight: 600;
}

.wrapper-3WhCwL.iconMention-1_KJ_B {
  padding-left: 1.2rem;
}

/**Mention message color */

.mentioned-xhSam7 {
  background-color: #ce62bc;
}
.mentioned-xhSam7.message-2qnXI6.selected-2P5D_Z {
  background-color: #ce62bc;
}
.mouse-mode.full-motion .mentioned-xhSam7:hover {
  background-color: #ce62bc;
}
.mentioned-xhSam7::before {
  background-color: var(--main-color);
}
.theme-dark .mentioned-xhSam7 .wrapper-3WhCwL.interactive {
  color: var(--main-color);
}
.theme-dark .mentioned-xhSam7 .wrapper-3WhCwL.interactive:hover {
  color: #ce62bc;
  text-decoration: none;
}

.wrapper-3WhCwL {
  color: var(--main-color);
}
.wrapper-3WhCwL:hover {
  background-color: var(--main-color);
}
/*Message box*/

.channelTextArea-rNsIhG,
.scrollableContainer-2NUZem { /*Message box main containers*/
    background-color: transparent;
    border-radius: var(--main-radius);
}
.channelTextArea-rNsIhG { /*Message box width*/
    left: 50%;
    transform: translateX(-50%);
    width: 92.5%;
}
.scroller-2LSbBU { /*Messages scroller*/
    max-height: 99%;
}
.scrollableContainer-2NUZem::before { /*Message box background*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    filter: brightness(0);
    background: transparent;
    box-shadow: 0px 0px 0px 0px black, 0px 0px 0px 0px black, 0px 0px 0px 0px black;
    transition: 0.25s ease;
    z-index: -1;
}
.scrollableContainer-2NUZem:focus-within::before { /*Message box background*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    filter: brightness(0.15);
    box-shadow: -3px -4px 6px 3px black, -3px -4px 6px 3px black, -3px -4px 6px 3px black;
    transition: 0.35s ease;
    z-index: -1;
}
.container-2fRDfG { /*Replying to panel*/
    background-color: transparent;
}

/*Misc*/

.ring-13rgEW { /*Ring when tabbing*/
  box-shadow: none;
}
.keyboard-mode .focusStroke-1ApElc { /*Focused element with keyboard*/
  fill: none;
  stroke: none;
}
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before { /*Stream volume bar*/
  background-color: rgba(var(--accent-color), 0.85)!important;
}
.small-1CUeBa { /*Uploading colored bar*/
  background-color: var(--accent-color)!important;
}
.progress-3Rbvu0 { /*Uploading remaining bar*/
  background-color: rgb(0, 0, 0, 0.65)!important;
}
.mediaBarWrapper-3D7r67,
.mediaBarWrapper-3D7r67:after,
.mediaBarWrapper-3D7r67:before { /*Audio progress bar*/
  background-color: rgb(0, 0, 0, 0.65);
}
.buffer-26XPkd,
.buffer-26XPkd:after,
.buffer-26XPkd:before { /*Audio buffer bar*/
  background-color: rgba(var(--accent-color), 0.5);
}
.mediaBarPreview-1jfyFs,
.mediaBarPreview-1jfyFs:after,
.mediaBarPreview-1jfyFs:before { /*Audio hover*/
  background-color: rgba(var(--accent-color), 0.7);
}
@keyframes tooltipShow {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}
.tooltip-2QfLtc,
.toolbar-2bjZV7,
.scroller-2ymjU1 { /*Hovered element tooltip*/
  filter: drop-shadow(-3px -2px 1px rgb(255, 0, 234)) drop-shadow(-3px -1px 1px rgb(255, 0, 255));
  background-color: transparent!important;
  background: transparent!important;
  border-radius: var(--main-radius);
  animation: tooltipShow 0.15s ease-in;
  color: rgb(var(--server-channel-textc))!important;
  box-shadow: unset!important;
}
.tooltip-2QfLtc::before,
.scroller-2ymjU1::before { /*Stream preview background*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--popout-bg) center/cover no-repeat;
  border-radius: var(--main-radius);
  filter: blur(var(--popout-blur));
  z-index: -2;
}
.tooltip-2QfLtc::after,
.scroller-2ymjU1::after { /*Stream preview opacity*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, var(--popout-opacity));
  border-radius: var(--main-radius);
  z-index: -1;
}
.memberListItem-3IkoL8:not(.popoutDisabled-161HX0):hover { /*Hovered stream viewer*/
  background-color: transparent!important;
  filter: drop-shadow(-3px -2px 1px black) drop-shadow(-3px -1px 1px black);
}
.tooltip-2QfLtc .reactionTooltipContent-2TwEIL {
  filter: drop-shadow(-3px -2px 1px black) drop-shadow(-3px -1px 1px black);
}
.tooltipPointer-3ZfirK { /*Hovered element tooltip arrow*/
  border-top-color: rgb(var(--main-dark-color))!important;
}
.protip-1b9XPC {
  border-top: none;
}
.applicationName-1-Uq7y.clickable-1bVtEA:hover,
.commandName-1klrjB.clickable-1bVtEA:hover,
.username-1A8OIy.clickable-1bVtEA:hover { /*Various underlines when hovering*/
  text-decoration: none;
}
.moreUsers-7v8yWY { /*more users in channel tooltip*/
  background-color: transparent;
}
.content-1T5kuS { /*Can't detect camera modal*/
  filter: drop-shadow(-3px -2px 1px black) drop-shadow(-3px -1px 1px black);
}
.keyboardShortcutsModal-3piNz7 { /*KB Shortcuts*/
  background-color: transparent!important;
  background: transparent!important;
  border-radius: var(--main-radius);
  box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569);
}
.keyboardShortcutsModal-3piNz7::before { /*KB Shortcuts background*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--popout-bg) center/cover no-repeat;
  border-radius: var(--main-radius);
  filter: blur(var(--popout-blur));
  z-index: -2;
}
.keyboardShortcutsModal-3piNz7::after{ /*KB Shortcuts opacity*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, var(--popout-opacity));
  border-radius: var(--main-radius);
  z-index: -1;
}
.modalSubtitle-1Pj5nv { /*KB modal subtitle*/
  border-bottom: none!important;
}
.modalTitle-37O4n6,
.modalSubtitle-1Pj5nv { /*Keyboard modal text*/
  filter: drop-shadow(-3px -2px 1px black) drop-shadow(-3px -1px 1px black);
  color: rgb(var(--server-channel-textc))!important;
}
::selection,
.highlight { /*Selection and matched words*/
  background-color: rgba(var(--accent-color), 0.25);
}
.stageListenerPill-1RXT2G { /*Tooltip listening icon*/
  background-color: transparent;
}
.featuredTag-3pT1Rf { /*Featured tag*/
  background-color: transparent!important;
}
.featuredTagText-HmlSoA { /*Featured tag text*/
  color: rgb(var(--accent-color));
}
.active-2HPddW,
.hover-28QbSq:hover { /*Selected text toolbar option*/
  background-color: transparent;
}
.toolbar-2bjZV7:before { /*Selected text toolbar tip*/
  border-top-color: rgb(var(--accent-color));
}
.compactButton-195WSV, 
.compactButtonDisabled-1WXLm6 { /*New DM message*/
  background-color: transparent!important;
}
.badge-1JXQev { /*Streaming icon*/
  background-color: transparent;
}
.textBadge-1iylP6 { /*Banner nitro badge*/
  background-color: transparent!important;
}
.sidebarContainer-7fi3LO { /*Hubs sidebar*/
  background: transparent;
}
.modal-f02hVt,
.guildSidebar-2OCzWB,
.formFieldWrapper-malor5 { /*Rules modal*/
  background: transparent;
 }